.wrapper {
  height: auto;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.championgrid {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.championcard {
  height: 200px;
  width: 200px;
  border: solid 4px black;
  border-radius: 12px;
  margin: 1em;
}

.advanced_details_wrapper {
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.active {
  display: block;
}
